node_modules/
.expo/
.env
*.log

# frontend-mobile
frontend-mobile/node_modules/
frontend-mobile/.expo/

# backend
backend/venv/
backend/__pycache__/
backend/app/__pycache__/
backend/uploads/*
!backend/uploads/.gitkeep
backend/tests/__pycache__/
*.pyc
